<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="layout.css" type="text/css">
    <link rel="shortcut icon" href="gambar/favicon.ico">
    <title>Latihan Membuat Layout</title>
</head>
<body>
    <header><h1>Latihan Membuat layout</h1></header>
    <nav></nav>
    <div id="konten">

        <div class="kontenleft">
        <img src="gambar/2.jpg" height="280px" width="575px">

    </div>
    <div class="kontenright">
    <h2>Artikel Hari Ini</h2>

    <ul>
        <li>Lorem Ipsum is simply Dummy</li>
        <li>Lorem Ipsum is simply Dummy</li>
        <li>Lorem Ipsum is simply Dummy</li>
        <li>Lorem Ipsum is simply Dummy</li>
        <li>Lorem Ipsum is simply Dummy</li>
        <li>Lorem Ipsum is simply Dummy</li>
        <li>Lorem Ipsum is simply Dummy</li>
        <li>Lorem Ipsum is simply Dummy</li>
    </ul>
    </div>
    </div>
    <div id="konten1">
        <div class="kotak1">
            <div class="img">
                <img src="gambar/u.jpg" height="150px" width="286px">
            </div>
            <div class="paragraf">
                <p align= 'justify'>
                        It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using 
                        'content here'.
                </p>
            </div>

        </div>
        <div class="kotak1">
            <div class="img">
                <img src="gambar/u.jpg" height="150px" width="286px">
            </div>
            <div class="paragraf">
                <p align= 'justify'>
                        It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using 
                        'content here'.
                </p>
            </div>

        </div>

        <div class="kotak1">
                <div class="img">
                    <img src="gambar/u.jpg" height="150px" width="286px">
                </div>
                <div class="paragraf">
                    <p align= 'justify'>
                            It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using 
                            'content here'.
                    </p>
                </div>
    
            </div>
    </div>
    <footer>COPYRIGHT &copy;2014- All Right Reserved</footer>
</body>
</html>